.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* text-align: center; */
}

.editor {
  margin-right: 10em;
}

.ck-editor__editable_inline {
  min-height: 500px;
}

.page {
  background-color: #DAE0E6;
  height: 100vh;
}

