.ck-editor__editable_inline {
  min-height: 500px;
  max-height: 50vh;
  min-width: 100%;
}

.page {
  background-color: #DAE0E6;
  min-height: 80vh;
}

.btn-primary {
    background-color: #FF4500 !important;
    border-color: #FF4500 !important;
}

.btn-primary:hover {
  background-color: #E53900 !important;
  border-color: #E53900 !important;
}

.btn-outline-primary {
  /* background-color: #000 !important; */
  border-color: #FF4500 !important;
  color: black !important;
}

.btn-outline-primary:hover {
  background-color: #E53900 !important;
  border-color: #E53900 !important;
  color: white !important;
}